form{
    max-width: 400px;
/*Centramos el formulario*/ 
    margin: 0 auto;
    padding: 20px;
    background-color: #f8d882; 
    border: 2px solid #8f6a34; 
    border-radius: 10px;
}
form label{
    background: #b6853b; 
    border-radius: 10px; 
    display: block; 
    margin-bottom: 10px; 
    font-weight: bold;
}

form input[type="text"], 
form input[type="email"],
form input[type="password"]
form textarea { 
    width: 100%; 
    padding: 8px;
    margin-bottom: 15px; 
    border: 1px solid #255e63; 
    border-radius: 4px;
    box-sizing: border-box;/*Para que el padding no afecte al ancho total*/
}
form input[type="submit"]{ 
    background-color: #dddddd; 
    color: rgb(90, 68, 27); 
    padding: 10px 15px;
    border: none;
}
